package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import javax.annotation.Resource;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
    #set($mapperInstance = $table.mapperName.substring(0,1).toLowerCase() + $table.mapperName.substring(1))
    @Resource
    ${table.mapperName} ${mapperInstance};

    @Override
    public Page<${entity}> listByPage(Integer pageNum, Integer pageSize) {
        Page<${entity}>page = new Page<>(pageNum, pageSize);
        QueryWrapper<${entity}> wrapper = new QueryWrapper<>();
        return  page(page, wrapper);
    }
}
#end
